:root {
  --clr-title-background: #089b93;
  --clr-title-background2: rgb(8, 195, 185);
  --clr-title-background3: rgb(65, 116, 114);
  --clr-text-clr: #ffffff;
  --clr-container-clr: #9fdeff;
  --clr-body-clr: #ebe7e7;
  --clr-side-background2: rgb(28, 138, 138);
  /* --clr-side-background3: rgb(46, 48, 48); */
  --clr-side-background3: rgb(75, 77, 77);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  border: 0.1rem solid var(--clr-title-background);
  max-width: 90rem;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: black; */
  margin: 0 auto;
  /* color: #ffffff; */
}

.title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  color: var(--clr-text-clr);
  font-family: verdana;
  text-transform: uppercase;
}
.logo {
  width: 5rem;
  height: auto;
  display: inline-block;
  justify-self: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
}
h3 {
  text-align: center;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  color: var(--clr-text-clr);
}
img {
  width: 100%;
  height: auto;
}

#canvas0 {
  /* display: grid; */
  grid-template-columns: 40fr 60fr;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 100%;
}
.actions {
  grid-row: 1/2;
  font-size: 1.4rem;
  padding: 1.8rem;
  text-wrap: wrap;
  border: 0.1rem solid var(--clr-title-background);
  border-radius: 0.5rem;
}
.color-codes {
  font-size: 1.4rem;
  text-wrap: wrap;
  grid-column: 1/2;
  padding: 1.8rem;
  grid-row: 2/3;
  border: 0.1rem solid var(--clr-title-background);
  border-radius: 0.5rem;
}

.main-img {
  position: relative;
  /* position: absolute; */
  /* padding: 1.8rem; */
  grid-row: 1/3;
  grid-column: 2/3;
  max-width: 100%;

  border: 0.1rem solid var(--clr-title-background);
  border-radius: 0.5rem;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  display: inline-block;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.color-list {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.blue {
  color: blue;
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.yellow {
  color: goldenrod;
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.red {
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: red;
}

.backgroundRed {
  background-color: red;
}
.backgroundGreen {
  background-color: green;
}
.backgroundBlue {
  background-color: blue;
}
.backgroundGray {
  background-color: grey;
}

ol li {
  cursor: pointer;
}

.line {
  width: 5rem;
  height: 0.5rem;
}
.box {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #eee;
}

.ellipse {
  width: 2rem;
  height: 3rem;
  border-radius: 100%;
  border: 0.1rem solid #eee;
}

.arrowFont {
  font-size: 2.5rem;
  color: brown;
  opacity: 0;
  animation: blink 1s linear infinite;
  transition: all 1s;
}

.backArrow {
  font-size: 7rem;
  color: rgba(250, 181, 91, 0.979);
  position: absolute;
  left: 50%;
  bottom: 3%;
  width: 5%;
  opacity: 1;
  cursor: pointer;
  z-index: 180;
}

.backArrow::before {
  content: "BACK";
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-10%, -20%);
}

.downArrow,
.faultArrow {
  font-size: 2.2rem;
  color: rgba(250, 120, 68, 0.979);
}

.faultHead {
  position: absolute;
  color: goldenrod;
  left: 50%;
  top: 4.5%;
  transform: translateX(-50%);
  text-transform: capitalize;
}

.d1 {
  position: absolute;
  left: 50.3%;
  top: 27.7%;
  font-size: 1.8rem;
}
.d2 {
  position: absolute;
  left: 69.3%;
  top: 27.7%;
  font-size: 1.8rem;
}
.d3 {
  position: absolute;
  left: 87.3%;
  top: 27.7%;
  font-size: 1.8rem;
}
.tooltipContent {
  font-size: 1.2rem;
  color: goldenrod;
  z-index: 154;
  /* background-color: aliceblue; */
  cursor: pointer;
}

.tip1 {
  position: absolute;
  left: 6%;
  top: 18%;
  padding-bottom: 50px;
  opacity: 0;
}
.tip2 {
  position: absolute;
  left: 14%;
  top: 22%;
  padding-bottom: 50px;
  opacity: 0;
}
.tip3 {
  position: absolute;
  left: 30%;
  top: 22%;
  padding-bottom: 50px;
  opacity: 0;
}
.tip4 {
  position: absolute;
  left: 50%;
  top: 22%;
  padding-bottom: 50px;
  opacity: 0;
}
.tip5 {
  position: absolute;
  left: 70%;
  top: 22%;
  padding-bottom: 50px;
  opacity: 0;
}
.tip6 {
  position: absolute;
  left: 74%;
  top: 71%;
  padding-bottom: 50px;
  opacity: 0;
}

/* canvas 2 */
#canvas1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  padding-bottom: 2rem;
}
.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 155;
}
.c2 {
  z-index: 166;
  /* background-color: red; */
}

.controlRoom {
  position: absolute;
  left: 5%;
  bottom: 5%;
  height: 25%;
  width: 40%;
  border: 0.1rem solid #eee;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  box-shadow: 0 0.2rem 2rem rgba(255, 255, 255, 0.5);
  z-index: 280;
}

.controlRoom::before {
  content: "Supervisory Control Room";
  position: absolute;
  top: -20%;
  color: rgb(250, 183, 105);
}

.divFault1 {
  position: absolute;
  top: 17%;
  /* width: 24%; */
  height: 17%;
  left: 75%;
}
.t1 {
  color: goldenrod;
  z-index: 154;
  /* background-color: aliceblue; */
  cursor: pointer;
}
.spf1 {
  color: white;
  position: absolute;
  left: 0.7%;
  top: 96.3%;
  z-index: 220;
}
.fault1 {
  position: absolute;
  left: -4.3%;
  top: 117.3%;
  width: 20%;
  height: 24%;
  cursor: pointer;
  z-index: 250;
  color: white;
}
.fakefault1 {
  position: absolute;
  left: -4.3%;
  top: 117.3%;
  width: 20%;
  height: 24%;
  cursor: pointer;
  z-index: 240;
  color: white;
}

.divFault2 {
  position: absolute;
  top: 17%;
  /* width: 24%; */
  height: 17%;
  left: 59%;
}
.t2 {
  color: goldenrod;
  z-index: 154;
  /* background-color: aliceblue; */
  cursor: pointer;
}
.spf2 {
  color: white;
  position: absolute;
  left: 0.7%;
  top: 96.3%;
  z-index: 220;
}
.fault2 {
  position: absolute;
  left: -4.3%;
  top: 117.3%;
  width: 20%;
  height: 24%;
  cursor: pointer;
  z-index: 250;
  color: white;
}
.fakefault2 {
  position: absolute;
  left: -4.3%;
  top: 117.3%;
  width: 20%;
  height: 24%;
  cursor: pointer;
  z-index: 240;
  color: white;
}

.divFault3 {
  position: absolute;
  top: 17%;
  /* width: 24%; */
  height: 17%;
  left: 43%;
  z-index: 250;
}
.t3 {
  color: goldenrod;
  z-index: 154;
  /* background-color: aliceblue; */
  cursor: pointer;
}
.spf3 {
  color: white;
  position: absolute;
  left: 0.7%;
  top: 96.3%;
  z-index: 220;
}
.fault3 {
  position: absolute;
  left: -4.3%;
  top: 117.3%;
  width: 20%;
  height: 24%;
  cursor: pointer;
  z-index: 250;
  color: white;
}
.fakefault3 {
  position: absolute;
  left: -4.3%;
  top: 117.3%;
  width: 20%;
  height: 24%;
  cursor: pointer;
  z-index: 240;
  color: white;
}

.shock1 {
  position: absolute;
  left: 74%;
  top: 42%;
  height: 11%;
  width: 3%;
  cursor: pointer;
  z-index: 162;
  visibility: hidden;
}
.shock2 {
  position: absolute;
  left: 59%;
  top: 42%;
  height: 11%;
  width: 3%;
  cursor: pointer;
  z-index: 162;
  visibility: hidden;
}
.shock3 {
  position: absolute;
  left: 43%;
  top: 42.7%;
  height: 11%;
  width: 3%;
  cursor: pointer;
  z-index: 162;
  visibility: hidden;
}

.timer1 {
  font-size: 1.2rem;
  position: absolute;
  left: 17.5%;
  top: 43%;
  color: white;
}

.timer2 {
  font-size: 1.2rem;
  position: absolute;
  left: 20%;
  top: 95%;
  color: white;
}
/* .backText {
  position: absolute;
  left: 494px;
  top: 551px;
  opacity: 1;
  cursor: pointer;
  font-size: 10px;
} */
.btn {
  cursor: pointer;
  padding: 5px;
  border: 1px solid lightgrey;
  width: 25px;
  /* margin-top: 15px; */
  text-align: center;
  display: inline;
  z-index: 500;
  cursor: pointer;
}
.grid {
  display: grid;
}
.hide {
  display: none;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 43.75em) {
  #canvas0 {
    grid-template-columns: 1fr;
  }
  .actions {
    grid-column: 1/-1;
  }
  .color-codes {
    grid-column: 1/-1;
  }
  .main-img {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
  .controlRoom {
    font-size: 1rem;
  }
  .backArrow {
    font-size: 6rem;
  }
  .backArrow::before {
    font-size: 1rem;
    transform: translate(-5%, -20%);
  }
  .timer1 {
    left: 14.5%;
  }
}
@media (max-width: 40em) {
  .controlRoom {
    font-size: 0.8rem;
  }
  .backArrow {
    font-size: 5rem;
  }
  .backArrow::before {
    font-size: 0.8rem;
    transform: translate(-9%, -20%);
  }
  .container {
    margin: 0;
    overflow-x: hidden;
  }
  h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 26em) {
  .container {
    margin: 0;
    overflow-x: hidden;
  }
  h1 {
    font-size: 1.2rem;
  }
}
